<header>
  <img id="headerimg" src="images/logo.png" height="100" width="150">
  <h1><a href="/">P, R, S: Showdown</a></h1>
  <a class="headerlink" href ="/">Home</a>
  <a class="headerlink" href ="/about">About</a>
  <a class="headerlink" href ="/login">Game</a>
  <a class="headerlink" href ="/stats">View Stats</a>
  <a class="headerlink" href ="/rules">View Rules</a>
  <a class="headerlink" href ="/">Logout</a>
</header>
