<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Game</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
<% include global/header %>

  <div id="throw_choice">
      <h2>Play the Game</h2>
      <h4><%=user.name%> it's your turn to bust a move!</h4>
      <form action= "/<%=user.name%>/results" method="get">
        Enter your choice of weapon:<br>
        <select name="weapon">
          <option value=" "> </option>
          <option value="paper">Paper</option>
          <option value="rock">Rock</option>
          <option value="scissors">Scissors</option>
        </select><br>
        Enter your villain:<br>
        <select name="villain">
          <option value=" "> </option>
          <option value="bones">Bones</option>
          <option value="comic_hans">Comic Hans</option>
          <option value="gato">Gato</option>
          <option value="harry">Harry</option>
          <option value="manny">Manny</option>
          <option value="mickey">Mickey</option>
          <option value="mr_modern">Mr. Modern</option>
          <option value="pixie">Pixie</option>
          <option value="regal">Regal</option>
          <option value="spock">Spock</option>
          <option value="the_boss">The Boss</option>
          <option value="the_magician">The Magician</option>
        </select><br>
        <button type = "submit" id="throw_choice_button">Throw Choice</button>
      </form>
    </div>
  <% include global/footer %>

 </body>
</html>
