<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Index</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <img id="headerimg" src="images/logo.png" height="100" width="150">
  <h1><a href="/">P, R, S: Showdown</a></h1>

  <div id="enter_name">
    <h2>Welcome to Paper, Rock, Scissors</h2>
    <form action="/login" method="get">
      Please enter your name:<input type="text" id="enter_name_input" name="player_name">
      <br>
      Please enter your password:<input type="text" id="enter_password_input" name="password">
      <button type="submit" id = "enter_password_button">Login</button>
    </form>
  </div>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
