<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <% include global/header %>
  <h1>Results</h1>
  <%if(user.weapon=='rock'){%> <img id="player_hand" src="../images/player_rock.png" align="left" height="300" width="200"> <%}%>
  <%if(user.weapon=="paper"){%> <img id="player_hand" src="../images/player_paper.png" align="left" height="300" width="200">
  <%} else if(user.weapon=="scissors"){%> <img id="player_hand" src="../images/player_scissors.png" align="left" height="300" width="200">
  <%}%>

    <img id="villain_hand" src="../images/<%=user["villain image"]%>"align="right" height="300" width="200">
  <style type="text/css">
    #villain_hand{
      background-color: <%=user["villain_color"]%>;
    }
  </style>



  <p id="game_summary">You <%=user.result%></p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <% include global/footer %>
 </body>
</html>
