<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>
  <h1>Results</h1>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
